{{> menu id="stats"}}

<section class="ui center aligned middle aligned segment">

  <h2>Playlist App Statistics</h2>

  <h3 class="ui header">
    App Statistics
  </h3>
  <p>
    The playlist app now contains:
  </p>
  {{#with stats}}
  <div class="ui center aligned grid">

    <div class="ui sixteen wide column">

      <div class="ui centered three statistics">
        <div class="ui statistic">
          <div class="value">
            <i class="microphone icon"></i>
          </div>
          <div class="label">
            {{displayNumPlaylists}} PLAYLISTS
          </div>
        </div>

        <div class="ui red statistic">
          <div class="value">
            <i class="music icon"></i>
          </div>
          <div class="label">
            {{displayNumSongs}} SONGS
          </div>
        </div>

        <div class="ui blue statistic">
          <div class="value">
            <i class="balance scale icon"></i>
          </div>
          <div class="label">
            AVERAGE SONGS PER<br> PLAYLIST: {{displayAverage}}
          </div>
        </div>
      </div>
    </div>

    <div class="ui sixteen wide column">
      <div class="ui centered three statistics">

        <div class="ui yellow statistic">
          <div class="value">
            <i class="star icon"></i>
          </div>
          <div class="label">
            HIGHEST RATED PLAYLISTS: {{highest}} STARS
            <table>
              {{#each displayFav}}
              <tr>
                <td>{{this}}</td>
              </tr>
              {{/each}}
            </table>
          </div>
        </div>

        <div class="ui green statistic">
          <div class="value">
            <i class="dot circle outline icon"></i>
          </div>
          <div class="label">
            AVERAGE RATING: {{displayAvgRating}}
          </div>
        </div>

        <div class="ui purple statistic">
          <div class="value">
            <i class="plus icon"></i>
          </div>
          <div class="label">
            LARGEST PLAYLIST: {{highestSongCount}} SONGS
            <table>
              {{#each displayMostSongs}}
              <tr>
                <td>{{this}}</td>
              </tr>
              {{/each}}
            </table>
          </div>
        </div>

      </div>
    </div>
    
  </div>

  {{/with}}

</section>
